body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fce8ff;
    background: #3d283f;
    padding: 0 2em;
}

nav {
    margin: 1em 1em 0;
    width: fit-content;
    height: fit-content;
    background: #212431;
    position: sticky;
    float:left;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #ffe8fe;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
}

h1 em {
    text-decoration: underline dashed purple;
}

img {
    float:left;
    height: 500px;
    width: auto;
    margin: 1em 5em 1em;
}
div.home{
    text-align: center;
}
div.home ul{
    margin: 0 auto 0;
    background-color: #2D3142;
    border:#212431;
    width: 33%;
    height: auto;
}
div.home p a{
    color:cadetblue;
}
div.footer{
    position:absolute;
    bottom: 0;
}